﻿<div class="row mt-3">
    <div class="col-sm">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form id="loginForm">
                    <div class="form-group">
                        <label for="userName">Username</label>
                        <input type="text" class="form-control" id="userName" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <button id="login" type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>        
    </div>
    <div class="col-sm"></div>
</div>