﻿<div>
    <div class="card mt-3">
        <div class="card-body">
            Response from api (GET): <span id="protected-response"></span>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            Response from api (POST): <span id="protected-response-post"></span>
        </div>
    </div>
    <div class="mt-3">
        <input type="button" class="btn btn-primary" value="Retry" id="retry" />
        <span class="ml-3" id="timestamp"></span>
    </div>
</div>
